<p id="notice"><%= notice %></p>

<h1>Redbuses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Account</th>
      <th>Offers</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @redbuses.each do |redbus| %>
      <tr>
        <td><%= redbus.name %></td>
        <td><%= redbus.account %></td>
        <td><%= redbus.offers %></td>
        <td><%= link_to 'Show', redbus %></td>
        <td><%= link_to 'Edit', edit_redbus_path(redbus) %></td>
        <td><%= link_to 'Destroy', redbus, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Redbus', new_redbus_path %>
