

<p>
  <strong>Name:</strong>
  <%= @redbus.name %>
</p>

<p>
  <strong>Account:</strong>
  <%= @redbus.account %>
</p>

<p>
  <strong>Offers:</strong>
  <%= @redbus.offers %>
</p>

<%= link_to 'Edit', edit_redbus_path(@redbus) %> |
<%= link_to 'Back', redbuses_path %>
